$img-w: 5912px;
$img-h: 389px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

// FONT-FAMILY'S
@font-face {
  font-family: "made-tommy-regular";
  src: url(../fonts/MADE-TOMMY-regular.otf);
}
@font-face {
  font-family: "made-tommy-light";
  src: url(../fonts/MADE-TOMMY-Light.otf);
}
@font-face {
  font-family: "made-tommy-bold";
  src: url(../fonts/MADE-TOMMY-Bold.otf);
}
@font-face {
  font-family: "made-tommy-extrabold";
  src: url(../fonts/MADE-TOMMY-ExtraBold.otf);
}
@font-face {
  font-family: "made-tommy-thin";
  src: url(../fonts/MADE-TOMMY-Thin.otf);
}
@font-face {
  font-family: "made-tommy-medium";
  src: url(../fonts/MADE-TOMMY-Medium.otf);
}
@font-face {
  font-family: "made-tommy-black";
  src: url(../fonts/MADE-TOMMY-Black.otf);
}

.made-tommy-regular {
  font-family: "made-tommy-regular";
}
.made-tommy-light {
  font-family: "made-tommy-light";
}
.made-tommy-bold {
  font-family: "made-tommy-bold";
}
.made-tommy-extrabold {
  font-family: "made-tommy-extrabold";
}
.made-tommy-thin {
  font-family: "made-tommy-thin";
}
.made-tommy-medium {
  font-family: "made-tommy-medium";
}
.made-tommy-black {
  font-family: "made-tommy-black";
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

// VARIABLES START
$color1: #074000;
$color2: #2db000;
$color3: #85d300;
// VARIABLES END

// GLOBAL START
// html {
//   width: 100%;
//   font-size: 100%;
//   overflow-x: hidden;
//   font-family: Louis_George_Cafe_R;
// }

body {
  background-color: #000000;
}

// @media screen and (max-width: 992px) {
//   html {
//     font-size: 100%;
//   }
// }
// @media screen and (max-width: 668px) {
//   html {
//     font-size: 92%;
//   }
// }
// @media screen and (max-width: 575px) {
//   html {
//     font-size: 88%;
//   }
// }
// @media screen and (max-width: 475px) {
//   html {
//     font-size: 84%;
//   }
// }
// @media screen and (max-width: 380px) {
//   html {
//     font-size: 80%;
//   }
// }
// @media screen and (max-width: 280px) {
//   html {
//     font-size: 76%;
//   }
// }

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: clamp(14px, 1.0416666666666667vw, 16px);
}

.f18 {
  font-size: clamp(15px, 1.1111111111111112vw, 18px);
}

.f20 {
  font-size: clamp(16px, 1.25vw, 20px);
}

.f22 {
  font-size: clamp(18px, 1.3888888888888888vw, 22px);
}

.f24 {
  font-size: clamp(18px, 1.3888888888888888vw, 24px);
}

.f29 {
  font-size: clamp(18px, 1.5277777777777777vw, 29px);
}

.f34 {
  font-size: clamp(28px, 1.9444444444444444vw, 34px);
}

.f32 {
  font-size: 2rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}
.f53 {
  font-size: clamp(40px, 3.125vw, 53px);
}
.f57 {
  font-size: clamp(30px, 2.4305555555555554vw, 57px);
  line-height: 76px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

// COLORS
.white {
  color: white;
}
.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}
.color3 {
  color: $color3;
}

.orange {
  color: #f7931e;
}

.bg-dark-brown {
  background-color: #161513;
}

// LINE HEIGHTS
.lh-17 {
  line-height: 17px;
}

// BACKGROUNDS
.dark-gray {
  background-color: #161513;
}

// PADDINGS
.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

// MARGINS
.mb-5px {
  margin-bottom: 5px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-60px {
  margin-bottom: 60px;
}
.mb-65px {
  margin-bottom: 65px;
}
.mb-70px {
  margin-bottom: 70px;
}
.mb-75px {
  margin-bottom: 75px;
}
.mb-80px {
  margin-bottom: 80px;
}

// CONFIGRATIONS
.page_container {
  max-width: 1600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.w-90 {
  width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section-title::before {
  content: "";
  width: 74.29px;
  height: 6.96px;
  background-color: #707070;
  border-radius: 10px;
}

// HEADER START
.header_container {
  position: sticky;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #000;
  z-index: 2;

  ul {
    li {
      a {
        padding: 0.5rem;
        text-decoration: none;
        color: #f7931e;
      }

      a.reg {
        background-color: #29abe2;
        color: #fff;
        border-radius: 4px;
      }

      img.tri {
        width: 9px;
        height: auto;
      }

      img.star {
        width: 18px;
        height: auto;
      }

      &.bl {
        border-left: 1px solid #29abe2;
      }
    }
  }
}
// HEADER END

// HERO START
.hero_container {
  .swiper-slide {
    img {
      width: 231px;
      height: 100vh;
      object-fit: cover;
    }

    .text_content {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      z-index: 999;
    }
  }
}
// HERO END

// PRODUCT DETAILS SARTS
.product-details {
  display: flex;
  align-items: center;
  padding: 20px 0;

  .product-detail-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex: 1;

    .clock-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .clock-number {
        width: 66px;
        height: 66px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 36px;
        position: relative;
        overflow: hidden;

        .point {
          position: absolute;
          top: 50%;

          width: 4px;
          height: 10px;
          background: transparent
            linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%) 0% 0% no-repeat
            padding-box;
          transform: translateY(-50%);
        }

        .point.one {
          left: 0;
        }
        .point.two {
          right: 0;
        }
      }

      .clock-number::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 0.1;
        margin-bottom: 50%;
      }

      .clock-number::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 0.4;
        margin-top: 50%;
        z-index: -1;
      }

      p {
        line-height: unset;
        margin: 0;
      }
    }
  }

  .product-detail-card:nth-child(1) {
    padding-right: 40px;
  }
  .product-detail-card:nth-child(2) {
    // flex: 1;
    padding: 0 40px;
  }
  .product-detail-card:nth-child(3) {
    min-width: 400px;
    padding: 0 40px;
  }
  .product-detail-card:nth-child(4) {
    padding-left: 40px;
    max-width: 250px;
  }

  .product-detail-card:not(:last-child) {
    border-right: 2px solid #707070;
  }
}

.products-cards {
  display: flex;
  align-items: center;
  margin-left: 5%;

  .product-card {
    img {
      border: 2px solid white;
      border-radius: 12px;
    }

    .line {
      height: 10px;
      background-color: #707070;
      position: relative;
      margin-bottom: 2rem;
    }

    .line::before {
      content: "";

      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: -1px;
      transform: translateY(-50%);
      background: #f7931e 0% 0% no-repeat padding-box;
      border: 5px solid #000000;
      border-radius: 50%;
    }
  }

  .product-card:last-child {
    .line {
      background-color: transparent;
    }
  }
}

.partners-wrapper {
  height: 359.37px;
  background: url(../images/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;
}

// PRODUCT DETAILS ENDS

.partners-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brands-slider {
  $min-image-size: 20px;
  $max-image-size: 40px;

  --image-size: #{$max-image-size};

  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  // border: 2px solid red;

  &:hover div {
    animation-play-state: paused;
  }

  .outer {
    display: flex;
    position: relative;
    animation: marquee linear infinite;

    justify-content: space-around;

    // Debug: This is just to help see where the loop happens
    // &:nth-of-type(1) {
    //   &,
    //   img {
    //     border: 1px dashed red;
    //   }
    // }
    // &:nth-of-type(2) {
    //   &,
    //   img {
    //     border: 1px dashed blue;
    //   }
    // }

    // You may need this if there are too few images for the banner width
    min-width: 100%;
  }

  .outer.duration-1 {
    animation-duration: 13s;
  }
  .outer.duration-2 {
    animation-duration: 10s;
  }
  .outer.duration-3 {
    animation-duration: 9s;
  }
  .outer.duration-4 {
    animation-duration: 15s;
  }

  img {
    display: block;
    min-width: var(--image-size);
    margin: 0 0.5vw;
  }

  // @media (max-width: 900px) {
  //   --image-size: #{$min-image-size};
  //   --image-size: min(max(#{$min-image-size}, 10vw), #{$max-image-size});
  // }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// board-cards STARTS
.board-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: clamp(30px, 3.4722222222222223vw, 80px);

  .board-card {
    display: flex;
    align-items: center;
    gap: clamp(20px, 1.7361111111111112vw, 31px);

    img {
      width: clamp(70px, 6.25vw, 110px);
      height: clamp(70px, 6.25vw, 110px);
      border-radius: 50%;
    }
  }
}
// board-cards ENDS

// FOOTER STARTS
.footer-wrapper {
  background: transparent linear-gradient(180deg, #282828 0%, #000000 100%) 0%
    0% no-repeat padding-box;
}
.footer-community {
  height: 171px;

  padding: 3rem 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: url(../images/community-bg.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;

  button {
    width: clamp(200px, 15.972222222222221vw, 261px);
    height: clamp(50px, 4.166666666666667vw, 66px);
    background: #292929 0% 0% no-repeat padding-box;
    border-radius: 42px;
    border: none;
    outline: none;

    cursor: pointer;
  }
}

.footer-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .footer-content {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;

    .social-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
// FOOTER ENDS
