$img-w: 5912px;
$img-h: 389px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

// FONT-FAMILY'S
@font-face {
  font-family: "made-tommy-regular";
  src: url(../fonts/MADE-TOMMY-regular.otf);
}
@font-face {
  font-family: "made-tommy-light";
  src: url(../fonts/MADE-TOMMY-Light.otf);
}
@font-face {
  font-family: "made-tommy-bold";
  src: url(../fonts/MADE-TOMMY-Bold.otf);
}
@font-face {
  font-family: "made-tommy-extrabold";
  src: url(../fonts/MADE-TOMMY-ExtraBold.otf);
}
@font-face {
  font-family: "made-tommy-thin";
  src: url(../fonts/MADE-TOMMY-Thin.otf);
}
@font-face {
  font-family: "made-tommy-medium";
  src: url(../fonts/MADE-TOMMY-Medium.otf);
}
@font-face {
  font-family: "made-tommy-black";
  src: url(../fonts/MADE-TOMMY-Black.otf);
}

.made-tommy-regular {
  font-family: "made-tommy-regular";
}
.made-tommy-light {
  font-family: "made-tommy-light";
}
.made-tommy-bold {
  font-family: "made-tommy-bold";
}
.made-tommy-extrabold {
  font-family: "made-tommy-extrabold";
}
.made-tommy-thin {
  font-family: "made-tommy-thin";
}
.made-tommy-medium {
  font-family: "made-tommy-medium";
}
.made-tommy-black {
  font-family: "made-tommy-black";
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

// VARIABLES START
$color1: #074000;
$color2: #2db000;
$color3: #85d300;
// VARIABLES END

// GLOBAL START
// html {
//   width: 100%;
//   font-size: 100%;
//   overflow-x: hidden;
//   font-family: Louis_George_Cafe_R;
// }

body {
  background-color: #000000;
}

// @media screen and (max-width: 992px) {
//   html {
//     font-size: 100%;
//   }
// }
// @media screen and (max-width: 668px) {
//   html {
//     font-size: 92%;
//   }
// }
// @media screen and (max-width: 575px) {
//   html {
//     font-size: 88%;
//   }
// }
// @media screen and (max-width: 475px) {
//   html {
//     font-size: 84%;
//   }
// }
// @media screen and (max-width: 380px) {
//   html {
//     font-size: 80%;
//   }
// }
// @media screen and (max-width: 280px) {
//   html {
//     font-size: 76%;
//   }
// }

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}
.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: clamp(14px, 1.0416666666666667vw, 16px);
}

.f18 {
  font-size: clamp(15px, 1.1111111111111112vw, 18px);
}

.f20 {
  font-size: clamp(16px, 1.25vw, 20px);
}

.f22 {
  font-size: clamp(18px, 1.3888888888888888vw, 22px);
}

.f24 {
  font-size: clamp(18px, 1.3888888888888888vw, 24px);
}

.f29 {
  font-size: clamp(18px, 1.5277777777777777vw, 29px);
}

.f34 {
  font-size: clamp(28px, 1.9444444444444444vw, 34px);
}

.f32 {
  font-size: 2rem;
}

.f30 {
  font-size: clamp(18px, 1.7361111111111112vw, 30px);
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}
.f53 {
  font-size: clamp(30px, 3.125vw, 53px);
}
.f57 {
  font-size: clamp(30px, 2.4305555555555554vw, 57px);
  line-height: 76px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}
.f97 {
  font-size: clamp(50px, 4.861111111111111vw, 97px);
  line-height: unset;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

// COLORS
.white {
  color: white;
}
.color1 {
  color: $color1;
}

.color2 {
  color: $color2;
}
.color3 {
  color: $color3;
}

.black {
  color: rgb(19, 19, 19);
}

.gray {
  color: gray;
}

.orange {
  color: #f7931e;
}

.bg-dark-brown {
  background-color: #161513;
}

// LINE HEIGHTS
.lh-17 {
  line-height: 17px;
}

// BACKGROUNDS
.dark-gray {
  background-color: #161513;
}

// PADDINGS
.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

// MARGINS
.mb-5px {
  margin-bottom: 5px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-60px {
  margin-bottom: 60px;
}
.mb-65px {
  margin-bottom: 65px;
}
.mb-70px {
  margin-bottom: clamp(40px, 4.861111111111111vw, 70px);
}
.mb-75px {
  margin-bottom: 75px;
}
.mb-80px {
  margin-bottom: 80px;
}

// CONFIGRATIONS
.page_container {
  max-width: 1600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.w-90 {
  width: 90%;
}

.uppercase {
  text-transform: uppercase;
}

.section-title {
  display: flex;
  align-items: center;
  gap: clamp(20px, 2.2222222222222223vw, 32px);
}

.section-title::before {
  content: "";
  width: clamp(60px, 5.138888888888889vw, 74.29px);
  height: 6.96px;
  background-color: #707070;
  border-radius: 10px;
}

// HEADER START
.header_container {
  position: sticky;
  top: 0%;
  left: 0%;
  background-color: #000;
  z-index: 10000;

  .nav-btn {
    background: #29abe2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white !important;

    @media (max-width: 500px) {
      padding: 0.3rem 0.8rem;
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    position: relative;

    .dropdown-icon {
      transition: all 0.2s ease;
    }

    .dropdown-content {
      display: none !important;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 350px;
      background-color: white;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
      padding: 2rem;
      flex-direction: column;
      gap: 1rem;
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 30px;
      }
    }
  }

  .dropdown:hover .dropdown-content {
    display: flex !important;
  }

  .dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
  }

  .navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 100px;
    font-family: "made-tommy-light";

    .nav-left {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;

      .navbar-brand {
        width: 85px;
        margin-right: 1rem;
      }

      @media (max-width: 500px) {
        .navbar-brand {
          width: 65px;
        }
      }

      .nav-links {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        .nav-link {
          color: #f7931e;
          display: flex;
          align-items: center;

          gap: 0.5rem;
          cursor: pointer;
        }
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
      gap: 1rem;

      .nav-login-btn {
        display: block;

        @media (max-width: 500px) {
          display: none;
        }
      }

      a {
        color: #f7931e;
      }

      .usd {
        border-right: 1px solid #29abe2;
        border-left: 1px solid #29abe2;
        padding: 0 1rem;
      }

      .switch-theme {
        cursor: pointer;
        width: 22px;
      }

      .nav-right-lang {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .hamburger {
        display: none;
      }

      @media (max-width: 1280px) {
        .nav-right-lang {
          display: none;
        }

        .hamburger {
          display: block;
          width: 30px;
        }
      }
    }

    .mobile-navbar {
      display: none;

      .login-btn-mobile {
        text-align: center;
        color: black;

        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-family: inherit;
        text-align: center;
        outline: none;
        font-size: 14px;
        line-height: 20px;
        color: rgb(33, 40, 51);
        border-radius: 4px;
        padding: 10px 16px;
        min-height: 24px;
        border: none;
        background-image: linear-gradient(
          rgb(248, 209, 47) 0%,
          rgb(240, 185, 11) 100%
        );
        font-weight: 400;
        width: 90%;

        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
      }
    }
    @media (max-width: 1280px) {
      .nav-left {
        .nav-links {
          display: none;
        }

        .dropdown {
          display: none;
        }
      }
      .mobile-navbar {
        display: block;
        position: fixed;
        overflow-y: scroll;
        top: 0;
        right: -350px;
        // right: 0;
        width: 350px;
        height: 100%;
        background-color: white;
        transition: all 0.2s ease;
        z-index: 10000;

        .sidebar-contents {
          border-top: 1px solid rgb(216, 216, 216);
          padding-top: 1rem;
          padding-bottom: 1rem;

          .dropdown {
            padding: 1rem 2rem;
            display: block;
            justify-content: space-between;

            .dropdown-btn {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }

          .nav-link {
            padding: 1rem 2rem;
          }

          .sidebar-item {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            justify-content: space-between;
            padding: 1rem 2rem;

            .sidebar-item-icon {
              width: 25px;
            }

            .sidebar-item-left {
              display: flex;
              align-items: center;
              gap: 0.7rem;
            }

            svg {
              width: 25px;
            }

            p {
              color: rgb(30, 35, 41);
              font-size: 14px;
            }
          }
        }

        .cross-icon {
          width: 20px;
          display: block;
          margin: 2rem;
          margin-left: auto;
        }
      }
      .mobile-navbar.open {
        right: 0;
      }

      .dropdown-content {
        display: none !important;
        position: static;
        min-width: 100%;
        box-shadow: none;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
      }

      .dropdown:hover .dropdown-content {
        display: none !important;
      }
      .dropdown.active .dropdown-content {
        display: flex !important;
      }

      .dropdown:hover .dropdown-icon {
        display: unset;
        transform: rotate(0deg);
      }
      .dropdown.active .dropdown-icon {
        transform: rotate(180deg);
      }
    }

    @media (max-width: 400px) {
      .mobile-navbar {
        right: -300px;
        width: 300px;
      }
    }
  }
}
// HEADER END

// HERO START
.hero_container {
  .hero {
    height: 100vh;
    background: url(../images/crypto-hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    .hero-left {
      flex: unset;
      min-width: 130px;
      height: 100%;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 135px;
        font-size: 120px;

        transform: rotate(90deg) translateX(-50%);
        transform-origin: 0 0;

        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #f7931e;

        opacity: 0.29;

        color: transparent;
      }
    }

    .hero-right {
      max-width: 600px;
      // border: 2px solid red;

      .hero-btns {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          padding: clamp(10px, 1.3888888888888888vw, 20px)
            clamp(25px, 2.0833333333333335vw, 40px);
          background: #f7931e 0% 0% no-repeat padding-box;
          border: 2px solid #ffffff;
          border-radius: 49px;
        }
      }
    }

    .hero-right p:nth-child(1) {
      border-bottom: 2px solid #707070;
      padding-bottom: 1rem;
    }

    @media (max-width: 760px) {
      height: unset;
      min-height: calc(100vh - 100px);

      .hero-right {
        margin-right: 50px;
      }

      .hero-btns {
        flex-wrap: wrap;
      }
    }
  }

  @media (max-width: 500px) {
    .hero {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      padding: 2rem 1.5rem;
      padding-bottom: 80px;

      .hero-right {
        margin-right: 0px;
      }

      .hero-left {
        flex: unset;
        min-width: unset;
        height: unset;
        position: static;

        p {
          position: static;
          font-size: 40px;
          transform: rotate(0) translate(0, 0);
          transform-origin: unset;
          -webkit-text-stroke-width: 1px;
          opacity: 0.4;
        }
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
  bottom: -70px !important;
  width: auto !important;
  left: auto !important;
  left: 150px !important;
  margin: 0;

  display: flex;
  align-items: center;
}

@media (max-width: 760px) {
  .swiper-pagination {
    position: absolute;
    bottom: 20px !important;
    width: auto !important;
    left: auto !important;
    left: 80% !important;
    margin: 0;

    display: flex;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .swiper-pagination {
    top: 843px;
    right: 25px;
    left: unset !important;
  }
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #5d5d5d 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 23px;
  height: 23px;
  background: #f7931e 0% 0% no-repeat padding-box;
  opacity: 1;
}

// HERO END

// PRODUCT DETAILS SARTS
.product-details {
  display: flex;
  align-items: center;
  padding: 20px 0;

  .product-detail-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex: 1;

    .clock-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .clock-number {
        width: 66px;
        height: 66px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 36px;
        position: relative;
        overflow: hidden;

        .point {
          position: absolute;
          top: 50%;

          width: 4px;
          height: 10px;
          background: transparent
            linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%) 0% 0% no-repeat
            padding-box;
          transform: translateY(-50%);
        }

        .point.one {
          left: 0;
        }
        .point.two {
          right: 0;
        }
      }

      .clock-number::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 0.1;
        margin-bottom: 50%;
      }

      .clock-number::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 0.4;
        margin-top: 50%;
        z-index: -1;
      }

      p {
        line-height: unset;
        margin: 0;
      }
    }
  }

  .product-detail-card:nth-child(1) {
    padding-right: 40px;
  }
  .product-detail-card:nth-child(2) {
    // flex: 1;
    padding: 0 40px;
  }
  .product-detail-card:nth-child(3) {
    min-width: 400px;
    padding: 0 40px;
  }
  .product-detail-card:nth-child(4) {
    padding-left: 40px;
    max-width: 250px;
  }

  .product-detail-card:not(:last-child) {
    border-right: 2px solid #707070;
  }
}

@media (max-width: 1300px) {
  .product-detail-card {
    min-width: unset !important;
    max-width: unset !important;
    width: unset !important;
    flex: 1 !important;

    padding: 0 !important;
  }

  .product-detail-card:nth-child(2) {
    // flex: 1;
    padding: 0 20px !important;
  }
  .product-detail-card:nth-child(3) {
    padding: 0 20px !important;
  }

  .product-detail-card:nth-child(1) {
    padding-right: 20px !important;
  }

  .product-detail-card:nth-child(4) {
    padding-left: 20px !important;
  }
}

@media (max-width: 1000px) {
  .product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
  }

  .product-detail-card:nth-child(1) {
    padding-right: 40px !important;
  }

  .product-detail-card:nth-child(2) {
    // flex: 1;
    padding: 0 40px !important;
    padding-right: 0 !important;
    border-right: none !important;
    justify-content: center;
  }
  .product-detail-card:nth-child(3) {
    padding: 0 40px !important;
    padding-left: 0 !important;
  }

  .product-detail-card:nth-child(4) {
    padding-left: 40px !important;
  }
}

@media (max-width: 600px) {
  .product-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }

  .product-detail-card:nth-child(1) {
    padding-right: 0px !important;
    border: none !important;
  }

  .product-detail-card:nth-child(2) {
    // flex: 1;
    padding: 0 0px !important;
    padding-right: 0 !important;
    border-right: none !important;
    justify-content: center;
  }
  .product-detail-card:nth-child(3) {
    padding: 0 0px !important;
    padding-left: 0 !important;
    border: none !important;
  }

  .product-detail-card:nth-child(4) {
    padding-left: 0px !important;
  }
}

.products-cards {
  display: flex;
  align-items: center;
  margin-left: 5%;

  .product-card {
    img {
      border: 2px solid white;
      border-radius: 12px;
    }

    .line {
      height: 10px;
      background-color: #707070;
      position: relative;
      margin-bottom: 2rem;
    }

    .line::before {
      content: "";

      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: -1px;
      transform: translateY(-50%);
      background: #f7931e 0% 0% no-repeat padding-box;
      border: 5px solid #000000;
      border-radius: 50%;
    }
  }

  .product-card:last-child {
    .line {
      background-color: transparent;
    }
  }
}

.partners-wrapper {
  height: 359.37px;
  background: url(../images/lines.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// PRODUCT DETAILS ENDS

@media (max-width: 900px) {
  .partners-wrapper {
    height: fit-content !important;
    padding: 1rem 0;
  }
}
.brands-slider {
  $min-image-size: 20px;
  $max-image-size: 40px;

  --image-size: #{$max-image-size};

  padding: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;

  &:hover div {
    animation-play-state: paused;
  }

  .outer {
    display: flex;
    position: relative;
    animation: marquee linear infinite;

    justify-content: space-around;

    min-width: 100%;
  }

  .outer.duration-1 {
    animation-duration: 13s;
  }
  .outer.duration-2 {
    animation-duration: 10s;
  }
  .outer.duration-3 {
    animation-duration: 9s;
  }
  .outer.duration-4 {
    animation-duration: 15s;
  }

  img {
    display: block;
    min-width: var(--image-size);
    margin: 0 0.5vw;
  }

  @media (max-width: 900px) {
    --image-size: #{$min-image-size};
    --image-size: min(max(#{$min-image-size}, 10vw), #{$max-image-size});
  }

  @media (max-width: 760px) {
    .outer {
      overflow: hidden;
    }

    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: none;
    }
    img:nth-child(3) {
      display: none;
    }
    img:nth-child(4) {
      display: none;
      background-color: red;
      border: 2px solid red;
    }
    img:nth-child(5) {
      display: none;
    }
    img:nth-child(6) {
      display: none;
    }

    // img {
    //   display: block;
    //   min-width: 120px;
    //   margin: 0 0.3vw;
    // }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// board-cards STARTS
.board-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: clamp(30px, 3.4722222222222223vw, 80px);

  .board-card {
    display: flex;
    align-items: center;
    gap: clamp(20px, 1.7361111111111112vw, 31px);

    img {
      width: clamp(70px, 6.25vw, 110px);
      height: clamp(70px, 6.25vw, 110px);
      border-radius: 50%;
    }
  }
}

@media (max-width: 1000px) {
  .board-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .board-cards {
    grid-template-columns: 1fr;
  }
}
// board-cards ENDS

// FOOTER STARTS
.footer-wrapper {
  background: transparent linear-gradient(180deg, #282828 0%, #000000 100%) 0%
    0% no-repeat padding-box;
}
.footer-community {
  padding: clamp(35px, 4.513888888888889vw, 65px)
    clamp(35px, 4.027777777777778vw, 58px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  background: url(../images/community-bg.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;

  button {
    width: clamp(200px, 15.972222222222221vw, 261px);
    height: clamp(50px, 4.166666666666667vw, 66px);
    background: #292929 0% 0% no-repeat padding-box;
    border-radius: 42px;
    border: none;
    outline: none;

    cursor: pointer;
  }
}

.footer-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .footer-content {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;

    .social-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media (max-width: 680px) {
  .footer-contents {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-content {
    justify-content: unset;
    align-items: unset !important;
    flex-direction: unset;
  }
}
// FOOTER ENDS

// SWICTH
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
